.gcloudignore
.git
.gitignore

# Entornos virtuales
.venv
venv/

# Archivos de Python compilados y caches
__pycache__/
# Agents & Graphify
.opencode/
.agents/
graphify-out/
.graphify*
AGENTS.md

#Memory
memory/
